/* Write your CSS here */
.history-table {
  padding-left: 0px;
  width: 100%;
  border: 1px solid #d7dfe9;
}
li {
  display: flex;
  border: 1px solid #d7dfe9;
  border-collapse: collapse;
}
li p {
  padding: 2px 10px;
  width: 25%;
}
.delete-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.delete-icon {
  width: 20px;
}
